<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join Us!</h1>
    <p class="lead">Enter your email to join <strong> <%= count %></strong> friends!</p>

    <form method="POST" action="/sign-up">
        <input type="text" class="form" name="email" placeholder="Enter your email.">
        <button>Join Now</button>
    </form>
</body>
</html>